{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}


{% block navbar %}
    {% include 'partials/navtop.html.twig' %}
{% endblock %}


{% block body %}

    <div class="accueil">
        <img src="{{ asset('img/background1.jpg') }}" alt="Image d'illustration avec foule dans un concert festival" class="background">

        <div class="page-title">
            <h1>LocalHub, faites rayonner la scène locale</h1>
            <h2>Rejoignez-nous dès maintenant pour célébrer la musique de votre région</h2>
        </div>

        <div class="auth-buttons">
                <a href="{{ path('app_register') }}" class="btn-log">S'inscrire</a>
                <a href="{{ path('app_login') }}" class="btn-log">Se connecter</a>
        </div>
    </div>


    
    <div class="main">

        <section class="introduction">
            <div class="prom-section">
                <img src="{{ asset('img/headphone.svg')}}" alt="Image casque audio représente streaming" class="prom-picture">
                <h4>Streaming Illimité</h4>
            </div>
            <div class="prom-section">
                <img src="{{ asset('img/cloud.svg')}}" alt="Image cloud représente upload audio" class="prom-picture">
                <h4>Upload gratuit</h4>
            </div>
            <div class="prom-section">
                <img src="{{ asset('img/concert.svg')}}" alt="Image concert représente les évents du site" class="prom-picture">
                <h4>Evenements</h4>
            </div>
            <div class="prom-section">
                <img src="{{ asset('img/message.svg')}}" alt="Image bulle de conversation représente la communauté" class="prom-picture">
                <h4>Communauté interactive</h4>
            </div>
        </section>

        <section class="presentation">
            {# <img src="{{ asset('img/blue-light.svg') }}" alt="effet décoratif lumiere bleue" class="blue-light"> #}
            <p>Découvrez LocalHub, une plateforme dédiée aux artistes locaux et aux passionnés de musique. <br>
                Amis musicien, et fidèles auditeurs, Profitez d'un espace gratuit pour partager votre musique,
                découvrir de nouveaux talents et suivre l’actualité de la scène locale.
                Ici, la musique prend vie près de chez vous : écoutez des morceaux en streaming,
                soutenez vos artistes favoris, et participez aux événements de votre région.</p>
            </section>

        <div class="container">
            <h2>Les Artistes à la Une</h2>
            <div class="wrapper">
                {% for artiste in artistes %}
                    <a href="{{ path('artiste_detail', { 'id': artiste.id }) }}" class="artist-link">
                        {{ artiste.pseudo }}
                    </a>
                {% else %}
                    Aucun artiste trouvé.
                {% endfor %}
            </div>


            <h2>Derniers Titres ajoutés</h2>
            <div class="wrapper">
                        {% for track in latestTracks %}
                        <a href="" class="artist-link">
                                {{ track.trackName }}
                        </a>        
                        {% else %}
                            Aucun morceau disponible.
                        {% endfor %}
            </div>

            
            <h2>Artistes par Région</h2>
            <div class="wrapper">
                {% for region in regions %}        
                        <a href="{{ path('artistes_par_region', {'region': region.region}) }}" class="region-link">
                            {{ region.region }} 
                            ({{ region.total_artistes }} artistes)
                        </a>
                {% else %}
                    Aucun artiste trouvé.
                {% endfor %}
            </ul>

            </div>
        </div>
    </div>

{% endblock %}

