{% extends 'base.html.twig' %}

{% block title %}Collection de titres d'un Artiste{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/tracklist.css') }}">
{% endblock %}


{% block body %}



<a href="{{ path('artiste_profile') }}" class="back-btn">Retour à l'accueil</a>



    <div class="tracklists"></div>

        <div class="tracks">
        <h2>Vos morceaux</h2>
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Durée</th>
                    <th>Date d'upload</th>
                    <th>Nombre de vues</th>
                    <th>Fichier</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for track in tracks %}
                    <tr>
                        <td>{{ track.trackName }}</td>
                        <td>{{ track.duration // 60 }}:{{ (track.duration % 60)|number_format(0, '0', '') }}</td>
                        <td>{{ track.uploadDate|date('d/m/Y') }}</td>
                        <td>{{ track.viewCount}}</td>
                        <td>{{ track.audioFile}}</td>
                        <td>
                            <form action="{{ path('remove_track', {'id': track.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce morceau ?');">
                                <button type="submit" style="border: none; background: none; cursor: pointer;">
                                    <img src="{{ asset('img/cancel.svg')}}" alt="Supprimer ce morceau" class="img-heart">
                                </button>
                            </form>
                        </td>
                        
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun titre importé, faites votre premier upload aujourd'hui!</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <a href="{{ path('add_track') }}" class="action-btn">Ajouter un morceau</a>


</div>

{% endblock %}
