{# partials/navtop.html.twig #}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}


{# Navigation supérieure fixe #}
<nav class="nav-top">
    <img src="{{ asset('img/logo.svg') }}" alt="LocalHub Logo" class="logo">
    <div class="nav-menu-container">
        {% if not app.user %}
            <a class="nav-menu" href="{{ path('app_home') }}">Accueil</a>
            <a class="nav-menu" href="{{ path('artiste_index') }}">Artistes</a>
            <a class="nav-menu" href="{{ path('event_public') }}">Evenements</a>
            <a class="nav-menu" href="{{ path('app_login') }}">Connexion</a>
            <a class="nav-menu" href="{{ path('app_register') }}" id="nav-log">Inscription</a>
        {% else %}
            <a class="nav-menu" href="{{ path('app_logout') }}">Se déconnecter</a>
        {% endif %}
    </div>
</nav>


    {% block body %}{% endblock %}


{% block javascripts %}{% endblock %}
