{% extends 'base.html.twig' %}

{% block title %}Profil Bienvenue{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/artiste.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <h1>Bienvenue {{ app.user.pseudo }}</h1>
    </div>

    <section class="artist-profile">
        <div class="profile-container">
            {% if app.user.profilePicture %}
                <img src="{{ asset('uploads/' ~ app.user.profilePicture) }}" class="profile-pic" alt="Photo de profil Artiste">
            {% else %}
                <img src="{{ asset('images/default_profile.png') }}" class="profile-pic" alt="Photo par défaut">
            {% endif %}
        </div>

        <div class="bio">
            <h2>Biographie</h2>
            <p>{{ app.user.bio ?: 'Aucune biographie disponible.' }}</p>
        </div>

        <a href="{{ path('profile_edit') }}">Modifier mon profil</a>

    </section>

    
    <section>
        <div class="title-section">
            <h2>Que souhaitez-vous faire ?</h2>
        </div>

        <div class="cta-section">
            <div class="cta-btn">
                <a href="{{ path('track_collection') }}"><h3>Consulter la collection</h3></a>
            </div>
            <div class="cta-btn">
                <a href="{{ path('add_track') }}"><h3>Ajouter des nouveaux morceaux</h3></a>
            </div>
            <div class="cta-btn">
                <h3>Créer ou modifier un évènement</h3>
            </div>
        </div>
    </section>

</div>

{% endblock %}
