{% extends 'base.html.twig' %}

{% block title %}Page des Artistes{% endblock %}

{% block body %}

    
    <div class="main">

        <div class="container">
            <h2>Les Artistes à la Une</h2>
            <div class="wrapper">
                {% for artiste in artistes %}
                    <a href="{{ path('artiste_detail', { 'id': artiste.id }) }}" class="artist-link">
                        {{ artiste.pseudo }}
                    </a>
                {% else %}
                    Aucun artiste trouvé.
                {% endfor %}
            </div>


            <h2>Derniers Titres ajoutés</h2>
            <div class="wrapper">
                        {% for track in latestTracks %}
                        <a href="" class="artist-link">
                                {{ track.trackName }}
                        </a>        
                        {% else %}
                            Aucun morceau disponible.
                        {% endfor %}
            </div>

            
            <h2>Artistes par Région</h2>
            <div class="wrapper">
                {% for region in regions %}        
                        <a href="{{ path('artistes_par_region', {'region': region.region}) }}" class="region-link">
                            {{ region.region }} 
                            ({{ region.total_artistes }} artistes)
                        </a>
                {% else %}
                    Aucun artiste trouvé.
                {% endfor %}
            </ul>

            </div>
        </div>
    </div>

{% endblock %}

