{% extends 'base.html.twig' %}

{% block title %}Accueil Auditeur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/auditeur.css') }}">
{% endblock %}



{% block body %}


<div class="main">

    <h1>Tous les morceaux disponibles</h1>

        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Morceau</th>
                        <th>Artiste</th>
                        <th>Durée</th>
                        <th>Favoris</th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in tracks %}
                        <tr>
                            <td>{{ track.trackName }}</td>
                            <td>{{ track.user.pseudo }}</td>
                            <td>{{ track.duration // 60 }}:{{ (track.duration % 60)|number_format(0, '0', '') }}</td>
                            <td>
                                <a href="{{ path('like_track', {'id': track.id}) }}">
                                    {% if track in app.user.favoris %}
                                    <img src="{{ asset('img/like.svg')}}" alt="coeur rempli pour ajouter un morceau en favoris" class="">
                             
                                    {% else %}
                                    <img src="{{ asset('img/unlike.svg')}}" alt="coeur vide pour retirer un morceau des favoris" class="">
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun morceau disponible.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            

        </div>

</div>

{% endblock %}
