{% extends 'base.html.twig' %}

{% block title %}Accueil Auditeur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/auditeur.css') }}">
{% endblock %}



{% block body %}


<div class="tracklists">

        <div class="tracks">
            <h2>Titres coup de coeur</h2>
            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Artiste</th>
                        <th>Durée</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in favoriteTracks %}
                        <tr>
                            <td>{{ track.trackName }}</td>
                            <td>{{ track.user.pseudo }}</td>
                            <td>{{ track.duration // 60 }}:{{ (track.duration % 60)|number_format(0, '0', '') }}</td>
                            <td>
                                <a href="{{ path('like_track', {'id': track.id}) }}">
                                    {% if track in app.user.favoris %}
                                    <img src="{{ asset('img/like.svg')}}" alt="coeur rempli pour indiquer un morceau en favoris" class="img-heart">
                             
                                    {% else %}
                                    <img src="{{ asset('img/unlike.svg')}}" alt="coeur vide pour indiquer un morceau non favoris" class="img-heart">
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Aucun titre en favoris pour l'instant.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="tracks">
            <h2>Tous les titres disponibles</h2>
            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Artiste</th>
                        <th>Durée</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in tracks %}
                        <tr>
                            <td>{{ track.trackName }}</td>
                            <td>{{ track.user.pseudo }}</td>
                            <td>{{ track.duration // 60 }}:{{ (track.duration % 60)|number_format(0, '0', '') }}</td>
                            <td>
                                <a href="{{ path('like_track', {'id': track.id}) }}">
                                    {% if track in app.user.favoris %}
                                    <img src="{{ asset('img/like.svg')}}" alt="coeur rempli pour indiquer un morceau en favoris" class="img-heart">
                             
                                    {% else %}
                                    <img src="{{ asset('img/unlike.svg')}}" alt="coeur vide pour indiquer un morceau non favoris" class="img-heart">
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Aucun morceau disponible.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

</div>

{% endblock %}
